/* CSS reset */

body { line-height: 1; color:#ddd; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
img { border:none}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; } 
table { border-collapse: collapse; border-spacing: 0; }
.clear { float:none; clear:both; line-height:0; }
/* end CSS reset */

a { color: #ccc; text-decoration:none; }
a:hover { text-decoration:underline; }
h1 { color: #eb4; font-size:14pt; margin:5px 0px; }
h2 { color: #877; font-size:12pt; margin:5px 0px; }

body { background: #000; margin: .5em 1em; }

#body { width: 1100px; margin: 0 auto; 
    background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/ui/images/old-man.jpg');
    background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/ui/images/old-man.jpg');
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('/ui/images/old-man.jpg');
    padding: 2rem; background-repeat: no-repeat; background-size: cover; }

#header { border-bottom: 1px solid #877; padding: 0 .5em; margin: 0 0 .5em; }

#footer { border-top: 1px solid #877; padding: .5em 0; margin: .5em 0 0; text-align:center;  float:none; clear:both; }

#content { padding: .5em; }
#content dl { display: inline; }
#content dl dt { color: #eb4; display:block; float:none; clear:both; border-bottom: 1px solid #877; padding:.5em 0 .25em; }
#content dl dd { cursor:pointer; float:left; width: 250px; border:1px solid #877; margin: .25em; padding:.25em; border-radius:.5em; }
#content dl dt.ontap, #content dl dd.ontap { border-color:#fff; }
#content dl dt.intheworks, #content dl dd.intheworks { border-color:#cfc; }
#content dl dd .full { display:none; }
#content dl dd h3 {  }
#content dl dd img { display:block; max-width: 200px; max-height: 150px; border:none; margin: 0px auto; }

ul.navigation { display: inline; }
ul.navigation li { cursor:pointer; float:left; width: 250px; border:1px solid #877; margin: .25em; padding:.25em; border-radius:.5em; }
ul.navigation li h3 {  }
ul.navigation li img { display:block; max-width: 200px; max-height: 150px; border:none; margin: 0px auto; }
